# Personal release notes
RELEASE_CHECKLIST.md
RELEASE_NOTES.md
/release_notes/

# Arduino IDE
*.ino.eep
*.ino.hex
*.ino.with_bootloader.bin

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# CLion / JetBrains
.idea/

# PlatformIO
platformio.ini
.pio/
.pioenvs/
.piolibdeps/

# Build folders
build/
Build/
out/
dist/

# Temporary files
*.tmp
*.bak
*.swp
*~
